body {
    color: white !important;
    background-image: url(../images/Background.jpg);
    background-repeat:no-repeat;
}

.col-centralizada {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 78vh;
}

.MinhaFoto {
    border: solid #DFBD69;
    width: 100%;
    height: 100%;
}

.bordabaixo {
    border-bottom: 1px solid #DFBD69 !important;
}

.bordacima {
    border-top: 1px solid #DFBD69 !important;
}

.alturapadrao {
    height: 310px ;
}

.containerscroll {
    max-height: 800px;
    overflow-y: auto;
    overflow-x: hidden;
    
}

.botaoteste {
    background-color: #DFBD69 !important;
    border-radius: 5px !important;
    margin-right: 5px;
}

.social-icons .social-icon-link {
    color: #DFBD69;
    font-size: 24px;
    margin: 0 10px;
}

.bordacard {
    border: 2px solid #DFBD69 !important;
}

::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: transparent;
}


::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}


::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.8);
}

.textodourado {
    color: #DFBD69 !important;
}